// app global css in SCSS form
.border {
  border-style: solid !important;
  border-width: 1px !important;
  border-color: $grey-6 !important;
}

.border-left {
  border-left: $orange !important;
  border-left-width: 5px !important;
  border-left-style: solid !important;
}
